* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CLASSI HEADER*/
/*proprietà sfondo header*/
.sfondo {
    background-color: rgb(49, 154, 214) ;
    padding-top: 60px;
    padding-bottom: 25px;
    background-image: url('../img/pattern.png');
}

#logo {
    width: 300px;
}
/*fine proprietà sfondo*/
/*proprietà titolo*/
h1 {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-right: 100px;
    margin-top: 25px;
}
/*fine proprietà titolo*/
/*proprietà sottotitolo*/
.testo-grigio {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.testo-blu {
    color: rgb(49, 154, 214) ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#testo-grigio-piccolo {
    font-size: 15px;
}
/*fine proprietà sottotitolo*/
/*FINE HEADER*/

/*CLASSI MAIN*/
.posizione-tim {
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    margin-bottom: 20px;
}

.evidenziato {
    background-color: yellow;
}

ul {
    margin-bottom: 20px;
    padding-left: 40px;
}

.testo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
}

thead {
    background-color: rgb(49, 154, 214) ;
    color: white;
}

.tab-dx {
text-align: left;
padding-right: 25px;
}

.tab-sx {
    text-align: left;
    margin-right: 50px;
}

table {
    border-collapse: collapse;
}



